@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Pacificoregular.woff2') format('woff2'),
         url('../fonts/Pacificoregular.woff') format('woff'), 
         url('../fonts/Pacificoregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

// Common styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
    height: 0;
}

body {
    height: 100%;
    width: 100%;
    background-color: #fff;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.button {
    font-family: Raleway, serif;
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    padding: 20px 45px;
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
}

.button:hover {
    box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
}

.header-text {
    font-size: 80px;
    font-family: Raleway, sans-serif;
    font-weight: 700 ;
}

.head__decscr {
    font-family: Raleway, sans-serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 27px;
    color: #262626;
}


// Header

.header {
    width: 100%;
    height: 100%;
    background-color: #f9f8fb;
    position: relative;
    
    .header__wrapper {
        width: 100%;
        height: 100%;
        background-image: url(../img/bg-1.png);
        background-position: center center;
        background-size: cover; 
        background-repeat: no-repeat;
    
        .header__container {
            display: flex;
            align-items: center;
            padding-top: 50px;
            margin-bottom: 215px;
            
            
        }

        .header__logo {
            float: left;
        }

        .header__logo-link {
            font-family: 'Pacifico', sans-serif;
            font-size: 50px;
            color: #262626;
            text-decoration: none;
        }

        .header__nav {
            float: right;
            
            .menu__input {
                opacity: 0;
                position: absolute;
        
                &:checked ~ .menu__btn  {
                    &:after {
                        top: 0;
                        transform: rotate(-45deg);
                        background: #000;
                        transition: 0.4s;
                    }
                    &:before {
                        top: 0;
                        transform: rotate(45deg);
                        background: #000;
                        transition: 0.4s;
        
                    }
                    > span {
                        visibility: hidden;            
                    }
                }    
            }

            .menu__btn {
                display: flex;
                align-items: center;
                position: absolute;
                display: none;

                right: 0;
                top: -30px;

                width: 42px;
                height: 42px;

                cursor: pointer;
                z-index: 1;


                span {
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: #000;
                    top: 0px;
                }

                &::before, 
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: #000;
                    top: -10px
                }

                &::after {
                    top: 10px;
                }
            }
        

            .main__nav {
                display: inline-flex;

                .header__nav-item {
                    margin-left: 20px;
                    list-style: none;

                    .header__nav-link {
                        font-family: 'Raleway', sans-serif;
                        font-weight: 700;
                        text-transform: uppercase;
                        text-decoration: none;
                        color: #262626;
                        font-size: 16px;
                        position: relative;

                        &:first-child {
                            transition-delay: 0s;
                        }
                        &:nth-child(2) {
                            transition-delay: 0.3s;
                        }
                        &:nth-child(3) {
                            transition-delay: 0.6s;
                        }
                        &:nth-child(4) {
                            transition-delay: 0.9s;
                        }
                        &:nth-child(5) {
                            transition-delay: 1.2s;
                        }
                                
                        &:hover::before {
                            content: '';
                            position: absolute;
                            height: 3px;
                            width: 100%;
                            background-color: #ff6033;
                            top: -10px;
                            left: 0;
                        }
                    }
                }
            }
        }

        .header__description {

            .description__header {
                font-family: 'Raleway', sans-serif;
                font-weight: 900;
                font-size: 60px;
                color: #262626;
                letter-spacing: -1px;
                padding-bottom: 25px;
            }

            .description__text {
                margin-bottom: 35px;
            }

            .header__button {
                background-color: #ff6033;
                color: #fff;
                margin-bottom: 370px;
            }
        }

        .scroll__wrapper {
            display: flex;
            justify-content: center;
            margin-bottom: 70px;

            .header__scroll {
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    
}

// About Us

.about-us {
    width: 100%;
    height: 100%;
    background-color: #04b5b5;

    .about-us__picture {
        margin-left: -50px;
    }

    .about-us__content {
        margin-top: 120px;
        padding-left: 50px;
        margin-bottom: 230px;
        
        .about-us__content-header {
            color: #fff;
            margin-bottom: 30px;
        }

        .about-us__content-text {
            color: #fff;
        }
    }

}

// Services 

.services {
    width: 100%;
    height: 100%;
    background-color: #70bfff;

    .services__container {
        display: flex;
        align-items: center;

        .services__content {
            margin-top: 75px;
            margin-bottom: 150px;

            .services__content-item {
                width: 400px;
                height: 100px;
                background-color: #fff;
                display: flex;
                margin-bottom: 20px;
                box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);

                &:hover {
                    box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.75);
                }

                .services__item-text {
                    width: 300px;
                    height: 100%;
                    border-right: 1px solid #9d9d9d;
                    font-family: Raleway, serif;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 27px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                }
                
                .services__item-img {
                    width: 100px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                }
            }  
        }

        .services__header-text {
            color: #fff;
            width: 100%;
            height: 100%;
            background-image: url(./img/services_bg.png);
        }
    }
}

// Gallery 

.gallery {
    background-color: #ffe92f;

    .gallery__header {
        text-align: center;
        margin-top: 100px;
        margin-bottom: 50px;

        .gallery__header-text {
            margin-bottom: 40px;
        }
    }

    .gallery__container {
       
        .gallery__col {
            margin-bottom: 20px;
            overflow: hidden;

            .gallery__img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .gallery__button-container {
        display: flex;
        justify-content: center;

        .gallery__button {
            margin-top: 50px;
            margin-bottom: 120px;
            background-color: #5585a2;
            color: #fff;
        }
    }

    
}

// Subscribe

.subscribe {
    height: 100%;
    width: 100%;
    background-color: #fff;

    .subscribe__header {
        margin-top: 145px;
        margin-bottom: 35px;

        .subscribe__header-text {
            font-size: 40px;
            margin-bottom: 30px;
        }

        .subscribe__header-content {
            padding-right: 200px;
        }
    }

    .subscribe__form-wrapper {
        margin-bottom: 150px;

        .subscribe__form {
            display: flex;
            flex-direction: row;

            .subscribe__form-field {
                width: 570px;
                height: 55px;
                border-radius: 0;
                border: 1px solid #262626;
                outline: none;
                cursor: pointer;
                padding-left: 15px;

                &:hover {
                    box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
                }

                &:focus {
                    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
                }
                &::placeholder {
                    font-family: Raleway, serif;
                    font-size: 15px;
                    font-weight: 300;    
                }
            }

            .subscribe__form-button {
                font-family: Raleway, serif;
                display: block;
                padding: 10px 45px;
                margin-left: 30px;
                background-color: #96b92c;
                color: #fff;
            }
        }
    }
}

// Blog

.blog {
    width: 100%;
    height: 100%;
    background-color: #b07cf7;

    .blog__header {
        margin-top: 100px;
        margin-bottom: 50px;
        text-align: center;

        .blog__header-head {
            color: #fff;
            margin-bottom: 45px;
        }

        .blog__header-text {
            color: #fff;
        }
    }
    
    .blog__item {
        background: #781cf6;
        height: 300px;
        position: relative;
        margin-bottom: 50px;

        // &:first-child {
        //     background: url(./source/img/1st-bg.png) center no-repeat;
        // }
        
        // &:nth-child(2) {
        //     background: url(./source/img/2nd-bg.png) center no-repeat;
        // }
        
        // &:nth-child(3) {
        //     background: url(./source/img/3rd-bg.png) center no-repeat;
        // }

        .blog__item-date {
            color: #fff;
            font-size: 25px;
            line-height: 30px;
            font-weight: 700;
            height: 60px;
            width: 60px;
            text-align: center;
            background-color: rgba(79, 85, 95, 0.6);
            position: absolute;
            border-radius: 6px;
            top: 30px;
            left: 30px;
        }
        .blog__item-descr {
            position: absolute;
            bottom: 30px;
            left: 25px;
            width: 90%;
        }
        
        .blog__item-header {
            font-size: 20px;
            font-weight: 700;
            color: #fff;
            line-height: 25px;
        }
        
        .blog__item-author {
            font-weight: 300;
            color: #fff;
            font-size: 13px;

            a{
                text-decoration: none;
                color: #fff;
            }
        }
    }

    .blog__button-container {
        display: flex;
        justify-content: center;
        
        .blog__button {
            background-color: #f72b3b;
            color: #fff;
            margin-bottom: 50px;
        }
    }

}

// Contact

.contact {
    width: 100%;
    height: 100%;
    background-color: #8e9134;

    .contact__header {
        margin-top: 100px;
        margin-bottom: 50px;
        text-align: center;

        .contact__header-text {
            margin-bottom: 50px;
        }
    }

    .contact__form {
        margin-bottom: 120px;

        .contact__form-item {
            position: relative;
            width: 100%;
            font-family: Raleway, sans-serif;
            font-weight: 700;
            color: #fff;
            font-size: 14px;
            padding: 15px;
            background: rgba(0, 196, 196, 0.5);
            margin-bottom: 15px;
            outline: none;
            border: none;

            &::placeholder {
                color: #fff;
                font-weight: 300;
            }

            &:focus {
                background: rgba(0, 196, 196, 1);
                border-left: 5px solid  #355b82;
            }

            &:hover {
                transform: scaleX(1.01);
            }

            &:focus .form-item-before::before {
                content: '';
                position: absolute;
                width: 3px;
                height: 100%;
                background-color: #355b82;
                top: 0;
                left: 0;
            }
        }
    }

    .contact__adress {
        padding-left: 170px;

        .adress__item {
            font-family: Raleway, serif;
            margin-bottom: 15px;

            .adress__heading {
                text-transform: uppercase;
                font-size: 17px;
                font-weight: 700;
                line-height: 30px;
            }

            .adress__text {
                font-size: 20px;
                font-weight: 300;
                color: #000;
                
                .adress__links {
                    text-decoration: none;
                    color: #000;
                }
            }
        }
    }
}

// Footer

.footer {
    background-color: #262626;
    width: 100%;
    height: 100%;

    .footer__container {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
    
        .footer__copyright {

            .footer__text {
                font-size: 14px;
                font-weight: 300;
                color: #b9b9b9;
            }
        }
    
        .footer__logo {
            text-align: center;
            .small__logo {
                width: 70px;
                height: 30px;
            }
        }
    
        .footer__author {
            text-align: right;
            
            .footer__text {
                font-size: 14px;
                font-weight: 300;
                color: #b9b9b9;
            }

            .footer__span {
                color: #ff2b58;
                font-weight: 700;
            }    
        }
    }

    
}

// Media querries


@media (max-width: 1100px) {
    .header {

        .header__wrapper {

            .header__nav {
                
                .menu__input {
                    &:checked > .header__nav-link {
                        right: 50px;
                        transition: 1s;
                        
                        .header__nav-item {
                            margin-bottom: 10px;

                            .header__nav-link {
                                color: #000;
                            }
                        }
                    }
                }

                .menu__btn {
                    display: block;
                
                }

                .main__nav {
                    display: inline-flex;
                    flex-direction: column;
                    text-align: right;

                    .header__nav-item {
                        .header__nav-link {
                            position: absolute;
                            right: -100%;
                        }
                    }
                }
            }
        }
    }
}


