* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier Prime', monospace;
}

body {
    background-color: #cfcfcf;
    color: #231f20;
}

a {
    text-decoration: none;
    color: #57645d;
}

a:hover {
    color: #03588C;
    text-decoration: underline;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__icon {
    width: 300px;
    height: 300px;
    margin-bottom: 50px;
}

.header__heading {
    margin-bottom: 50px;
}

.wrapper {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    
}

.wrapper h1 {
    margin-bottom: 30px;
}

ul > li {
    list-style: square;
    margin-bottom: 10px;
}

ol >li {
    list-style: none;
    padding-left: 15px;
}

h2 {
    margin-bottom: 20px;
}